canvas {
    display: block;
    margin: 0 auto;
    background: #000;
    width: 100vw;
    height: 100vh;
}

.controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

button span {
    font-size: 24px;
}
